<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="summary block-bordered">
  <link itemprop="mainEntityOfPage" href="<%= article.url %>">

  <div class="container">
    <div class="block-foreground">
      <h2 itemprop="name headline">
        <%= link_to article.data.title, article.url, itemprop: 'url' %>
      </h2>

      <p class="text-muted">
        Written by
        <span itemprop="author creator" itemscope itemtype="http://schema.org/Person">
          <% link_to '/team/mathie.html', itemprop: 'url' do %>
            <span itemprop="name">
              <span itemprop="givenName">
                Graeme
              </span>
              <span itemprop="familyName">
                Mathieson
              </span>
            </span>
          <% end %>
        </span>,

        <span itemprop="copyrightHolder publisher" itemscope itemtype="http://schema.org/Organization">
          <span class="hidden" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <img itemprop="contentUrl url" src="<%= image_path config[:logo] %>" alt="Wossname Industries logo">
          </span>
          <% link_to '/', itemprop: 'url' do %>
            <span itemprop="name">
              Wossname Industries
            </span>
          <% end %>
        </span>.

        <% if (updated_on = article.data.updated_on) %>
          Published <%= time_tag article.data.published_on, itemprop: 'dateCreated datePublished' %>
          (updated <%= time_tag updated_on, itemprop: 'dateModified' %>)
        <% else %>
          Published <%= time_tag article.data.published_on, itemprop: 'dateCreated datePublished dateModified' %>
        <% end %>
        in <%= link_to_category article.data.category, class: 'label label-info', itemprop: 'articleSection' %>. <br>
        <%= article.data.tags.map(&:downcase).sort.map { |tag| link_to_tag tag, class: 'label label-warning' }.join(' ') %>
      </p>

      <% if article.data.image && (thumbnail = article.data.image[:thumbnail]) %>
        <div class="pull-left m-a-md" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <figure>
            <% link_to article.url, title: article.data.title do %>
              <%= image_tag thumbnail, class: 'img-responsive img-rounded', alt: article.data.title, itemprop: 'url contentUrl' %>
            <% end %>
            <figcaption class="sr-only" itemprop="caption"><%= article.data.title %></figcaption>
          </figure>
          <% if (dimensions = properties_for_image(thumbnail)) %>
            <meta itemprop="width" content="<%= dimensions[0] %>">
            <meta itemprop="height" content="<%= dimensions[1] %>">
          <% end %>
        </div>
      <% end %>


      <div class="lead" itemprop="description">
        <% introduction = article.data.introduction || article.data.description %>
        <% link = link_to 'Read more&hellip;', article.url %>
        <%= markdown [ introduction, link ].join(' ') %>
      </div>
    </div>
  </div>
</article>
