<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="summary block-bordered">
  <link itemprop="mainEntityOfPage" href="<%= article.url %>">

  <div class="container">
    <div class="block-foreground">
      <h2 itemprop="name headline">
        <%= link_to article.data.title, article.url, itemprop: 'url' %>
      </h2>

      <%= partial 'articles/byline', locals: { article: article } %>
      <%= partial 'articles/thumbnail', locals: { article: article } %>
      <%= partial 'articles/excerpt', locals: { article: article } %>
    </div>
  </div>
</article>
