<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="summary block-bordered">
  <div class="container">
    <div class="block-foreground">
      <h2 itemprop="name headline">
        <%= link_to article.data.title, article.url, itemprop: 'url contentUrl' %>
      </h2>

      <p class="text-muted">
        Written by Graeme Mathieson. Published <%= time_tag article.data.published_on %>
        <% if (updated_on = article.data.updated_on) %>
          (updated <%= time_tag updated_on %>)
        <% end %>
        in <%= link_to_category article.data.category, class: 'label label-info' %>. <br>
        <%= article.data.tags.map(&:downcase).sort.map { |tag| link_to_tag tag, class: 'label label-warning' }.join(' ') %>
      </p>

      <% if article.data.image && (thumbnail = article.data.image[:thumbnail]) %>
        <div class="pull-left m-a-md">
          <% link_to article.url, title: article.data.title do %>
            <%= image_tag thumbnail, class: 'img-responsive img-rounded', alt: article.data.title %>
          <% end %>
        </div>
      <% end %>


      <div class="lead" itemprop="description">
        <% introduction = article.data.introduction || article.data.description %>
        <% link = link_to 'Read more&hellip;', article.url %>
        <%= markdown [ introduction, link ].join(' ') %>
      </div>
    </div>
  </div>
</article>
