<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="col-md-6">
  <h3 itemprop="name headline" class="m-b-0">
    <%= link_to article.data.title, article.url, itemprop: 'url contentUrl' %>
  </h3>

  <div class="text-justify">
    <p class="text-muted">
      Published <%= time_tag article.data.published_on %>
      <% if (updated_on = article.data.updated_on) %>
        (updated <%= time_tag updated_on %>)
      <% end %>
      in <%= link_to_category article.data.category, class: 'label label-info' %>. <br>
      Tagged: <%= article.data.tags.sort.map { |tag| link_to_tag tag, class: 'label label-warning' }.join(' ') %>
    </p>

    <%= markdown article.data.description %>
  </div>
</article>
