<section id="<%= id %>" class="block<%= inverse ? ' block-inverse' : '' %>">
  <% if vertical_alignment.present? %>
    <div class="block-md-<%= vertical_alignment %>">
  <% end %>

  <div class="container">
    <% if title.present? %>
      <h1>
        <%= title %>
      </h1>
    <% end %>
  
    <div class="block-foreground">
      <%= yield %>
    </div>
  </div>

  <% if vertical_alignment.present? %>
    </div>
  <% end %>
</section>
