<% wrap_layout :layout do %>
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="<%= current_page.url %>">

    <% if current_page.data[:image] && (cover = current_page.data[:image][:cover]) %>
      <header class="block block-fill-height" id="article-header" style="background-image: url(<%= image_path cover %>)">
    <% else %>
      <header class="block block-fill-height" id="article-header">
    <% end %>

      <div class="block-md-middle">
        <div class="container">
          <div class="block-foreground">
            <h1 class="block-title" itemprop="name headline">
              <%= current_page.data.title %>
            </h1>

            <% if subtitle = current_page.data.subtitle %>
              <p class="text-muted h2">
                <%= subtitle %>
              </p>
            <% end %>

            <%= partial 'articles/byline', locals: { article: current_page, classes: [ 'text-center' ] } %>
            <%= partial 'articles/excerpt', locals: { article: current_page, read_more: false } %>

            <p class="text-center">
              <% link_to '', fragment: 'article-body', class: 'btn btn-lg btn-primary-outline' do %>
                <%= entypo :news %>
                Continue reading&hellip;
              <% end %>

              <% link_to_instapaper current_page, class: 'btn btn-lg btn-default-outline' do %>
                <%= entypo :save %>
                Save to Instapaper
              <% end %>
            </p>
          </div>

          <% if current_page.data[:image] && (square = current_page.data[:image][:square]) %>
            <div class="block-background sr-only" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <figure>
                <%= image_tag square, class: 'img-responsive img-rounded center-block', itemprop: 'url contentUrl' %>
                <figcaption itemprop="caption">Cover image for <%= current_page.data.title %>.</figcaption>
              </figure>

              <% if (dimensions = properties_for_image(square)) %>
                <meta itemprop="width" content="<%= dimensions[0] %>">
                <meta itemprop="height" content="<%= dimensions[1] %>">
              <% end %>
            </div>
          <% end %>

          <% if current_page.data[:image] && (thumbnail = current_page.data[:image][:thumbnail]) %>
            <%= image_tag thumbnail, itemprop: 'thumbnailUrl', class: 'hidden' %>
          <% end %>
        </div>
      </div>
    </header>

    <div class="block" itemprop="articleBody text" id="article-body">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= partial 'articles/footer', locals: { article: current_page } %>
    <%= partial 'articles/metadata_table', locals: { article: current_page } %>
  </article>
<% end %>
