<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= partial 'favicons' %>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
      <% if (title = current_page.data.title) %>
        <%= title %> &ndash;
      <% end %>
      Wossname Industries
    </title>

    <%= stylesheet_link_tag :all %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <footer class="block p-y-md text-sm-right">
      <div class="container">
        <p>
          <%= link_to 'Privacy Policy', '/privacy-policy/' %> |
          <%= link_to 'Terms of Service', '/terms-of-service/' %> |
          Copyright &copy; 2015&ndash;<%= Date.today.year %>
          <%= link_to 'Wossname Industries', 'https://woss.name/' %>.
          All rights reserved.
        </p>
      </div>
    </footer>

    <%= javascript_include_tag :all %>
  </body>
</html>
