<!doctype html>
<html lang="en">
  <head>

    <%= partial 'metadata' %>
    <%= partial 'favicons' %>

    <%= stylesheet_link_tag :all %>
  </head>

  <% if current_page.data.contents %>
    <body class="<%= page_classes %>" data-spy="scroll" data-target="#sidebar-contents">
  <% else %>
    <body class="<%= page_classes %>">
  <% end %>

    <%= partial 'google_tag_manager' %>

    <% navbar_link_to 'Home', '/index.html' %>
    <% navbar_link_to 'Articles', 'https://blog.woss.name/', target: '_blank' %>
    <% navbar_link_to 'Services', '/services.html' %>
    <% navbar_link_to 'Projects', '/projects.html' %>
    <% navbar_link_to 'Contact us', '/contact.html' %>

    <%= partial 'navbar' %>

    <div class="container">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
            <% link_to '/', itemprop: 'url' do %>
              <span itemprop="name">Home</span>
            <% end %>
          </span>
          <meta itemprop="position" content="1">
        </li>

        <% if ancestors = current_page.data.ancestors %>
          <% ancestors.each_with_index do |breadcrumb, i| %>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
                <% link_to breadcrumb[:path], itemprop: 'url' do %>
                  <span itemprop="name"><%= breadcrumb[:title] %></span>
                <% end %>
              </span>
              <meta itemprop="position" content="<%= i + 2 %>">
            </li>
          <% end %>

          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
            <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
              <link itemprop="url" href="<%= current_page.url %>">
              <span itemprop="name"><%= current_page.data.title %></span>
            </span>
            <meta itemprop="position" content="<%= ancestors.length + 3 %>">
          </li>
        <% elsif current_page.url != '/' %>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active">
            <span itemprop="item" itemscope itemtype="http://schema.org/Thing">
              <link itemprop="url" href="<%= current_page.url %>">
              <span itemprop="name"><%= current_page.data.title %></span>
            </span>
            <meta itemprop="position" content="2">
          </li>
        <% end %>
      </ol>
    </div>

    <%= yield %>

    <footer class="block p-y-md">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <div class="g-plusone" data-annotation="inline"></div>
          </div>
          <div class="col-md-7">
            <p class="text-md-right">
              Copyright &copy; 2015&ndash;<%= Date.today.year %>
              <%= link_to 'Wossname Industries', 'https://woss.name/' %>.
              All rights reserved.<br>
              <%= link_to 'Privacy Policy', '/privacy-policy.html' %> |
              <%= link_to 'Terms of Service', '/terms-of-service.html' %>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag :all %>
  </body>
</html>
