<!doctype html>
<html lang="en">
  <head>

    <%= partial 'metadata' %>
    <%= partial 'favicons' %>

    <%= stylesheet_link_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'google_tag_manager' %>

    <% navbar_link_to 'Home', '/index.html' %>
    <% navbar_link_to 'Services', '/services.html' %>
    <% navbar_link_to 'Projects', '/projects.html' %>
    <% navbar_link_to 'Contact us', '/contact.html' %>

    <%= partial 'navbar' %>

    <%= yield %>

    <footer class="block p-y-md">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <div class="g-plusone" data-annotation="inline"></div>
          </div>
          <div class="col-md-7">
            <p class="text-md-right">
              Copyright &copy; 2015&ndash;<%= Date.today.year %>
              <%= link_to 'Wossname Industries', 'https://woss.name/' %>.
              All rights reserved.<br>
              <%= link_to 'Privacy Policy', '/privacy-policy.html' %> |
              <%= link_to 'Terms of Service', '/terms-of-service.html' %>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag :all %>
  </body>
</html>
