---
absolute_urls: true
---
<html lang="en" prefix="op: http://media.facebook.com/op#">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="<%= url_for current_page.url, absolute: true %>">
    <meta property="op:markup_version" content="v1.0">
  </head>
  <body>
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <link itemprop="mainEntityOfPage" href="<%= url_for(current_page, absolute: true) %>">

      <header id="article-header">
        <% if current_page.data[:image] && (cover = current_page.data[:image][:cover]) %>
          <figure data-mode="aspect-fit">
            <img src="<%= image_path(cover, absolute: true) %>" alt="<%= current_page.data.title %>">
          </figure>
        <% end %>

        <h1 itemprop="name headline" id="article-title">
          <%= current_page.data.title %>
        </h1>

        <% if subtitle = current_page.data.subtitle %>
          <h2>
            <%= subtitle %>
          </h2>
        <% end %>

        <%= partial 'articles/byline', locals: { article: current_page } %>
      </header>

      <div itemprop="articleBody text" id="article-body">
        <%= yield %>
      </div>

      <%= partial 'articles/footer', locals: { article: current_page } %>
    </article>
  </body>
</html>
