<div class="byline">
  <address>
    Written by
    <%= partial 'partials/microdata/author' %> @
    <%= partial 'partials/microdata/organisation' %>.
  </address>

  <p>
    <%= partial 'partials/microdata/dates', locals: { article: article } %>
    in
    <%= partial 'partials/microdata/category', locals: { category: article.data.category } %>.<br>
    Tagged with: <%= partial 'partials/microdata/tags', locals: {tags: article_tags(article) } %>
  </p>
</div>
