---
title: Projects
sitemap_priority: 0.9
sitemap_changefreq: 'weekly'
---
<% introduction do %>
  <p>
    We've got all sorts of projects on the go at any one time. Mostly we're
    trying out new ideas, practicing new techniques, or just playing with a
    new technology. I'm pretty excited about version 5 of the Ruby on Rails
    framework, for example, so I'm busy upgrading all our apps to take advantage
    of the new features. And I'm already playing with some toy projects in
    Swift 3 on iOS 10, just to see what's coming up.
  </p>

  <p>
    My free time to spend on these projects is somewhat limited right now
    &ndash; especially when I've got client projects to focus on! &ndash; so
    they're all making slow progress, but they'll get there eventually. The
    advantage of having several projects on the go is that I'm never short of
    something to do, no matter what takes my fancy. If you'd be interested in
    helping me to pursue any of these projects, do
    <%= mail_to_link 'get in touch' %>. I'd love to find a way to spend more
    time on them, and I'd be delighted to have other people get involved.
  </p>

  <p>
    Meanwhile, do check out the projects:
  </p>

  <% data.projects.each_with_index do |(id, project), i| %>
    <% case i % 2 %>
    <% when 0 %>
      <div class="row m-b-md">
        <div class="col-sm-5 col-sm-offset-1">
          <% link_to '', fragment: id, class: 'btn btn-lg btn-block btn-default' do %>
            <%= entypo project[:icon] %>
            <%= project[:name] %>
          <% end %>
        </div>
    <% when 1 %>
        <div class="col-sm-5">
          <% link_to '', fragment: id, class: 'btn btn-lg btn-block btn-default' do %>
            <%= entypo project[:icon] %>
            <%= project[:name] %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% listing do %>
  <ul class="featured-list featured-list-bordered">
    <% data.projects.each do |id, project| %>
      <% featured_list_item id: id, title: project[:name], subtitle: project[:subtitle], icon: project[:icon], url: project[:url] do %>
        <div class="table-responsive">
          <table class="table table-condensed">
            <caption class="sr-only">Metadata on how <%= project[:name] %> is being built.</caption>

            <thead class="sr-only">
              <tr>
                <th>Key</th>
                <th>Tags</th>
              </tr>
            </thead>

            <tbody>
              <% if project[:subjects].present? %>
                <tr>
                  <th scope="row">Subjects</th>
                  <td>
                    <% project[:subjects].each do |subject| %>
                      <span class="label label-info"><%= subject %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>

              <% if project[:technologies].present? %>
                <tr>
                  <th scope="row">Technologies</th>
                  <td>
                    <% project[:technologies].each do |technology| %>
                      <span class="label label-warning"><%= technology %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>

              <% if project[:media].present? %>
                <tr>
                  <th scope="row">Media</th>
                  <td>
                    <% project[:media].each do |medium| %>
                      <span class="label label-success"><%= medium %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= markdown project[:description] %>
      <% end %>
    <% end %>
  </ul>
<% end %>
