---
title: Services
sitemap_priority: 0.9
sitemap_changefreq: 'weekly'
---
<% introduction do %>
  <p>
    I'm one of those types of folks who can turn their hand to a bit of
    everything. I do web app development, using the Ruby on Rails framework.
    I do iOS development &ndash; apps for the iPhone, iPad, and Apple Watch
    &ndash; with Swift. I cover the full gamut of services that come under
    the DevOps banner. And I'll even project manage myself into the bargain.
    If you're looking for a good all-rounder who can be your entire
    development team then, as Leonard Cohen sang: I'm your man!
  </p>

  <p>
    If your project is too big for one person, or if you're in a hurry to get
    it launched, I can still help out. I've got a crack team of contractors I
    regularly work with, who can lend a hand with chunks of a project. We
    work together regularly, and we get on well, so we make for a great team.
    If your needs mean that you need to hire a full-time development team, I
    can help out with that side of things, too. (Oh, and if you're in the
    market for somebody who can climb rocks, I'm definitely up for that!)
  </p>

  <% data.services.each_with_index do |(id, service), i| %>
    <% case i % 2 %>
    <% when 0 %>
      <div class="row m-t-md">
        <div class="col-sm-5 col-sm-offset-1">
          <% link_to '', fragment: id, class: 'btn btn-lg btn-block btn-default' do %>
            <%= entypo service[:icon] %>
            <%= service[:title] %>
          <% end %>
        </div>
    <% when 1 %>
        <div class="col-sm-5">
          <% link_to '', fragment: id, class: 'btn btn-lg btn-block btn-default' do %>
            <%= entypo service[:icon] %>
            <%= service[:title] %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% listing do %>
  <ul class="featured-list featured-list-bordered">
    <% data.services.each do |id, service| %>
      <% featured_list_item id: id, title: service[:title], subtitle: service[:subtitle], icon: service[:icon] do %>
        <%= markdown service[:description] %>

        <% if (call_to_action = service[:call_to_action]) %>
          <%= markdown call_to_action[:description] %>

          <p class="text-center">
            <% utm_link_to call_to_action[:url], class: 'btn btn-lg btn-primary-outline', target: '_blank' do %>
              <%= call_to_action[:title] %>
              <span class="icon icon-export"></span>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% block title: 'So, how can I help you?', inverse: true do %>
  <p>
    Does it sound like I could be of some value to you? I hope so! Drop me an
    email, to <%= mail_to_link %>, and let's see what we can build together.
  </p>
<% end %>
